.dplayer-bezel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .dplayer-bezel-icon {
        display: inline-block;
        width: 56px;
        height: 56px;
        overflow: hidden;
        text-align: center;
        line-height: 56px;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        opacity: 0.6;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        &:hover{
            opacity: 0.8;
            transform: scale(1.15);
            transition: all 0.3s;
        }
        &.mobile {
            width: 45px;
            height: 45px;
        }
    }
    .dplayer-danloading {
        position: absolute;
        top: 50%;
        margin-top: -7px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        animation: my-face 5s infinite ease-in-out;
    }
    .dplayer-loading-icon {
        display: none;
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 100, 0);
        transform: scale(0.6);
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        svg{
            border-radius: 50%;
            transform-origin: center;
            animation: loadingRotate 1s linear infinite;
            path{
                stroke: #ddd;
                stroke-dasharray: 236;
                animation: loadingDashOffset 2s linear infinite;
                animation-direction: alternate-reverse;
                fill: none;
                stroke-width: 26px;
            }
        }
        @keyframes loadingRotate {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes loadingDashOffset {
            0% {
                stroke-dashoffset: 236;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }
    }
}