// 控制面板
.tiny-player-hide-controller {
  .tiny-player-control-panel {
    cursor: none;
    opacity: 0;
    transform: translateY(100%);
  }
}
.tiny-player-show-controller {
  .tiny-player-control-panel {
    opacity: 1;
  }
}

.tiny-player-control-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  // 播放按钮
  .tiny-player-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  // 底部控制栏
  .tiny-player-control-bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    // 播放进度条
    .tiny-player-seek-bar {
      flex: 1;
    }

    .tiny-player-volume,
    .tiny-player-fullscreen {
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
    }

    .tiny-player-volume-bar {
      width: 60px;
    }

    .tiny-player-play-time {
      font-size: 14px;
      width: 100px;
    }
  }
}
