@import './watermask.scss';
@import './controller.scss';
@import './input-range.scss';

// 视频容器
.tp-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: fit-content;
}
